/*AwardBox*/
.flipCard{
 --awardBox-width:calc(50% - (var(--awardBox-gap) + var(--default-margin-left) + var(--default-margin-right) + var(--main-side-total-padding)));
 --card-padding:24pt;
 
 width:var(--awardBox-width);
 background-color:var(--color-half-dark);
 padding:var(--card-padding);
 border-radius:6pt; 
 position:relative;
 flex:1 2 var(--awardBox-width);
 perspective:1000px;
 -webkit-perspective: 1000px;
 transform-style:preserve-3d;
 -webkit-transform-style:preserve-3d;
 transition:all 1s ease;  
 
 .front,.back{
  width:100%;
  height:100%;
  background-color:var(--color-half-dark);
  backface-visibility: hidden;
  transition:transform .7s cubic-bezier(.4,.2,.2,1);
 }

 .front{
  .logo{
   width:96px;
   height:auto;
  }

  .name{
   color:var(--color-terciary);
  }
 
  .year{
   font-size:16pt;
   color:var(--color-secondary);
 
   position:absolute;
   top:var(--main-side-padding);
   right:var(--main-side-padding);
  }

 }

 .back{
  width:calc(100% - (var(--main-side-padding) * 2));
  height:calc(100% - (var(--main-side-padding) * 2));
  background-color:var(--color-half-dark);
  position:absolute;
  top:var(--main-side-padding);
  left:var(--main-side-padding);
  transform-style:preserve-3d;
  transform:rotateY(180deg);

  .description{
   text-align:center;

   position:absolute;
   top:0;
   right:0;
   /*transform:translateX(-50%);*/

   color:var(--color-highlight);
   font-size:14pt;
  }

 }

 &:hover{
  transform:rotateY(180deg);

  .description{
   display:block;
  }

 }

}