.openCard{ 
 --card-padding:48pt;
 --card-font-size:20pt;
 --top-color-1:var(--color-terciary);
 --top-color-2:var(--color-secondary);
 --bottom-color:#FFFFFF;

 .top, .bottom{
  font-size:var(--card-font-size);
  padding:var(--card-padding);
 }

 .top{  
  color:#FFFFFF;  

  &.standard{
   background-color:var(--top-color-1);
  }
 
  &.full{
   background-color:var(--top-color-2);
  }

 }

 .bottom{  
  color:var(--color-half-dark);
  background-color:var(--bottom-color);
 }

}