.titleline{ 
 width:100%;
 display: flex;
 flex-direction: row;
 align-items: baseline;
 margin-bottom:12pt;

 h2{
  word-break: keep-all; 
 }

 .line {
  height:1px;
  background-color:#FFFFFF80;
  flex:1 2 50%;
 }

}