.worldApproval{
 max-width:calc(100% - var(--main-side-padding));
 overflow-x:hidden;

 .logoList{
  max-width:inherit;
  
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: flex-start;
  align-items:center;
  column-gap: 12pt;
 
  font-family:inherit;
  font-size:18pt;
 
  animation:marquee-horizontal 39s linear infinite;

  .item{
   min-width: 144px;
   min-height: 64px;
   display:flex;
   flex-direction: row;
   flex-wrap:nowrap;
   align-items: center;
   justify-content: center;
   column-gap:6pt;
  
   padding:20pt;
   color:#FFFFFF;
   font-size:inherit;
   
   border-width:1px;
   border-style:solid;
   border-radius:32px;
   border-color:#FFFFFF;

   .brand{
    height:auto;
    width:50px;
   }

  }

 }
 
}

/*Animações*/
@keyframes marquee-horizontal {
 0%{transform:translateX(0);}
 100%{transform:translateX(-150%);}
}