/*
 PALETA DE CORES
 Escuro: #171b22
 Escuro 2:  #909090
 Fundo do perfil: #7579ff

 ÍNDICE

 Fonts

 Vars

 Global

 sideMenu
 -Profile
 -Navigation
 -DownloadBtn

 Main
 -Header

 Config
 Box
 Button
*/

/*Fonts*/
@font-face {
 font-family: "DM Sans";
 src: url("../fonts/DMSans.ttf");
}

/*Vars*/
:root{
 --side-menu-width:256px;

 /* MEDIDAS */
 --main-side-padding:24pt;
 --main-upDown-padding:24pt;

 /* PALETA DE CORES*/
 --color-primary:#0f141c;
 --color-half-dark:#171b22;
 --color-secondary:#909090;
 --color-terciary:#7579ff;
 
 --color-button-primary:#00CC97;
 --color-button-secondary:#FFDB59;
}

/*Global*/
div{
 margin:0;
}
div#root{
 display:flex;
 font-family:"DM Sans";
}
h1,h2,h3{
 color:#FFFFFF;
}
h1{
 font-size:72pt;
}
h2{
 font-size:48pt;
}
h3{
 font-size:24pt;
}
a{
 text-decoration:none;
 color:inherit;
}

/*sideMenu*/
.sideMenu {
 height: 100vh;
 width: var(--side-menu-width);

 display:flex;
 flex-direction: column;
 flex-wrap:nowrap;
 justify-content: space-around;
 row-gap:6pt;

 font-size: 14pt;
 color:#FFFFFF;

 background-color:var(--color-half-dark);
 
 position: fixed;

 overflow-y: scroll;
}
.sideMenu h2{
 font-size:20pt;
}

/*-Profile*/
.profile {
 font:inherit;
 color:inherit;
}
.profile .photo {
 display:flex;
 justify-content:center;
 margin:0;
 position: relative;
 z-index: 1;
}
.photo .bkg {
 height:50%;
 width:100%;
 border-radius:18pt;
 background-color:var(--color-terciary);
 position:absolute;
 bottom:0%;
 right:0%;
 z-index:-1;
}
.photo img {
 height:auto;
 width:80%;
}
.profile h2,.profile .ability,.profile .contact{
 margin-bottom:8pt;
}
.profile h2{
 text-align:center;
}
.profile .ability{
 font:inherit;
 text-align: center;
 color:var(--color-secondary);
}
.profile .contact {
 display:flex;
 flex-direction: row;
 flex-wrap:nowrap;
 justify-content: center;
 column-gap:18pt;
}
.profile .contact span{
 font-size:14pt;
 color:#FFFFFF;
}

/*-Navigation*/
nav {
 display: flex;
 flex-direction: column;
 align-content: flex-start;
 flex-wrap: nowrap;
 justify-content: flex-start;
 align-items: flex-start;
}
nav .menuItem{
 width:calc(100% - 36pt);
 color:var(--color-secondary);
 padding:6pt 18pt; 

 border-bottom-width:1px;
 border-bottom-color:var(--color-secondary);
 border-bottom-style: solid;
}
.menuItem:hover,.menuItem:hover span{
 color:var(--color-terciary);
}
.menuItem, .menuItem span {
 transition:color .5s ease;
}
.menuItem.first{ 
 border-top-width:1px;
 border-top-color:var(--color-secondary);
 border-top-style: solid;
}
.menuItem span{
 font-size:16pt;
 margin-right:16pt;
 color:#FFFFFF;
}

/*-DownloadBtn*/
.downloadBtn{
 --download-btn-height:48px;

 width:calc(100% - 12pt);
 height:var(--download-btn-height);

 font:inherit;
 font-size:14pt;
}
.downloadBtn .internal {
 height:var(--download-btn-height);
 position:relative;
 font: inherit;

 padding: 2pt;

 background-color: var(--color-primary);;
 border-color: var(--color-primary);;
 border-radius: 48px;

 transition:.5s;
}
.internal:hover{
 background-color:var(--color-terciary);
}
.internal:hover .iconArea{
 position:absolute;
 left:calc(100% - var(--download-btn-height)); 

 background-color:#FFFFFF;
 color:var(--color-terciary);
}
.internal .label{
 width:max-content;
 
 font:inherit;
 
 margin:0;

 position:absolute;
 right:0%;
 top:calc(var(--download-btn-height) / 2);
 transform:translateY(-50%);

 padding:0 6pt;

 transition:.5s;
}
.internal .label.download{
 opacity:100%;
}
.internal .label.click{
 opacity:0%;
}
.internal:hover .label.download{
 opacity:0%;
 width:max-content;
 right:100%;
 top:calc(var(--download-btn-height) / 2);
 transform:translate(100%,-50%);
}
.internal:hover .label.click{
 opacity:100%;
 width:max-content;
 right:100%;
 top:calc(var(--download-btn-height) / 2);
 transform:translate(100%,-50%);
}
.internal .iconArea{
 height:var(--download-btn-height);
 width:var(--download-btn-height);

 margin:0;

 position:absolute;
 left:0%;

 display:flex;
 flex-direction:column;
 flex-wrap:nowrap;
 justify-content:center;
 align-items:center;

 font-size:24px;

 border-radius:var(--download-btn-height);
 background-color:var(--color-terciary);

 transition:.5s;
}

/*Main*/
main{
 min-height:100vh;
 width:100%;
 margin-left:var(--side-menu-width);
 background-color:var(--color-primary);
 color:#FFFFFF;
}

/*-Header*/
header{
 height:auto;
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: space-between;
 gap:6pt;
}
.selfDescription {
 height: 100%;
 display: flex;
 flex-direction: column;
 font-size: 20pt;
 align-content: space-around;
 row-gap: 44pt;
 flex-shrink: 1;
 flex-grow: 2;
 flex-basis: 50%;
}
.selfDescription .abilities{
 color:var(--color-terciary);
 font:inherit;
 font-weight: bold;
}
.selfDescription .description{
 color:var(--color-secondary);
 font:inherit;
}
.selfDescription .contactButtons{
 width:100%;  

 display:flex;
 flex-direction: row;
 column-gap:6pt;
}
.photoPresentation {
 width: calc(50% - calc(var(--main-side-padding) * 2));
 position: relative;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: flex-start;
}
.photoPresentation img {
 height:auto;
 width:80%;
}
.photoPresentation .box{
 font-size:16pt;
 position:absolute;
 
 transform:translate(12.5%,-50%);
}

/*Config*/
.defaultMargin {
 margin: 24pt 6pt;
}
.defaultPadding {
 padding: var(--main-upDown-padding) var(--main-side-padding);
}
.defaultMargin-Bottom {
 margin: 12pt;
}

/*Box*/
.clientBox{
 --client-photo-size:3.5vw;

 height:auto;
 width:20vw;
 min-height:13%;
 font-size:1.6vw;
 padding:8%; 
 background-color:var(--color-half-dark);
 border-radius:24px;
 transform:translateY(-50%);
}
.clientBox p{
 margin-bottom:14pt;
}
.clientBox .list{
 display:flex;
 flex-direction:row;
 align-items: center;
 justify-content: space-between;
 position:relative;
 font-size:inherit;
}
.clientBox .list .photos {
 width:44%;
 display:flex;
 flex-wrap:nowrap;
}
.clientBox .list .photos .clientPhoto{
 height:var(--client-photo-size);
 width:var(--client-photo-size);
 border-radius:var(--client-photo-size);
 display:inline;
}
.clientBox .list .photos .clientPhoto.second{
 transform:translateX(-50%);
}
.clientBox .list .photos .clientPhoto.third{
 transform:translateX(-100%);
}
.clientBox .list .photos .clientPhoto.forth{
 transform:translateX(-150%);
}
.clientBox .list .horizontalLine{
 width:12%;
 border-style:solid;
 border-width:1px;
 transform:translateY(-50%);
}
.clientBox .list p{
 width:36%;
 font-size:inherit;
 margin:0;
}

/*Button*/
button{
 min-height:24px;
 min-width:144px;
 font-size: 16pt;
 padding:12pt;
 color: #000000;
 box-sizing:content-box;
 overflow:hidden;

 position:relative;

 border-style: solid;
 border-radius: 36px;

 cursor: pointer;

 transition:all .5s ease;
 z-index:1;
}
button:before{
 content:""; 
 height:100%;
 width:100%;
 position:absolute;
 top:-100%;
 left:0;
 background-color:var(--color-terciary);
 transition:all .35s ease;
 z-index: -1;
}
button:hover{
 color:#FFFFFF;
}
button:hover:before{
 top:0%;
}
button.primary{
 background-color:var(--color-button-primary);
}
button.secondary{
 background-color:var(--color-button-secondary);
}