/*
 PALETA DE CORES
 Escuro: #171b22
 Escuro 2:  #909090
 Fundo do perfil: #7579ff

 ÍNDICE

 Fonts

 Vars

 Global

 sideMenu
 -Profile
 -Navigation

 Main
 -Header

 Config
 Box
 Button
 AboutEntry
 Titles
 Paragraphs
 TimeLine
 Works
 Skill List
 Awards
 ServiceList
 RetractInfo

 Animações
*/

/*Fonts*/
@font-face {
 font-family: "DM Sans";
 src: url("../fonts/DMSans.ttf");
}

/*Vars*/
:root{
 /* FONTE */
 --font-default:"DM Sans"; 

 /* MEDIDAS */
 --side-menu-width:256px;

 --main-side-padding:24pt;
 --main-side-total-padding:calc(var(--main-side-padding) * 2);
 --main-upDown-padding:24pt;

 --main-total-width:calc(100% - calc(var(--main-side-total-padding) + var(--side-menu-width)));

 --default-margin-top:24pt;
 --default-margin-bottom:24pt; 
 --default-margin-right:12pt;
 --default-margin-left:12pt;
 --default-margin:var(--default-margin-top) var(--default-margin-bottom) var(--default-margin-left) var(--default-margin-right);

 /* PALETA DE CORES*/
 --color-primary:#0f141c;
 --color-half-dark:#171b22;
 --color-secondary:#909090;
 --color-terciary:#7579ff;
 --color-highlight:#FFFFFF;
 
 --color-button-primary:#00CC97;
 --color-button-secondary:#FFDB59;
}

/*Global*/
body{
 width:1444px;
}
div{
 margin:0;
}
div#root,span{
 display:flex;
 font-family:"DM Sans";
}
section{
 margin-bottom:52pt;
}
h1,h2,h3{
 color:#FFFFFF;
}
h1{
 font-size:72pt;
}
h2{
 font-size:48pt;
}
h3{
 font-size:24pt;
 margin-bottom:18pt;
}
h4{
 font-size:14pt;
 text-transform:uppercase;
 color:var(--color-highlight);
}
p{
 font-size:18pt;
 color:var(--color-secondary);
}
b{
 color:var(--color-highlight);
}
a{
 text-decoration:none;
 color:inherit;
}

/*sideMenu*/
.sideMenu {
 height: 100vh;
 width: var(--side-menu-width);

 display:flex;
 flex-direction: column;
 flex-wrap:nowrap;
 justify-content: space-around;
 row-gap:6pt;

 font-size: 14pt;
 color:#FFFFFF;

 background-color:var(--color-half-dark);
 
 position: fixed;

 overflow-y: scroll;

 z-index:1;
}
.sideMenu h2{
 font-size:20pt;
}

/*-Profile*/
.profile {
 font:inherit;
 color:inherit;
}
.profile .photo {
 display:flex;
 justify-content:center;
 margin:0;
 position: relative;
 z-index: 1;
}
.photo .bkg {
 height:66%;
 width:100%;
 border-radius:18pt;
 background-color:var(--color-terciary);
 position:absolute;
 bottom:0%;
 right:0%;
 z-index:-1;
}
.photo img {
 height:auto;
 width:80%;
}
.profile h2,.profile .ability,.profile .contact{
 margin-bottom:8pt;
}
.profile h2{
 text-align:center;
}
.profile .ability{
 font:inherit;
 text-align: center;
 color:var(--color-secondary);
}
.profile .contact {
 display:flex;
 flex-direction: row;
 flex-wrap:nowrap;
 justify-content: center;
 column-gap:18pt;
}
.profile .contact span{
 font-size:14pt;
 color:#FFFFFF;
}

/*-Navigation*/
nav {
 display: flex;
 flex-direction: column;
 align-content: flex-start;
 flex-wrap: nowrap;
 justify-content: flex-start;
 align-items: flex-start;
}
nav .menuItem{
 width:calc(100% - 36pt);

 display:flex;
 flex-direction: row;
 column-gap:8pt;

 color:var(--color-secondary);
 padding:6pt 18pt; 

 border-bottom-width:1px;
 border-bottom-color:var(--color-secondary);
 border-bottom-style: solid;
}
.menuItem:hover,.menuItem:hover span{
 color:var(--color-terciary);
}
.menuItem, .menuItem span {
 transition:color .5s ease;
}
.menuItem.first{ 
 border-top-width:1px;
 border-top-color:var(--color-secondary);
 border-top-style: solid;
}
.menuItem span{
 font-size:16pt;
 color:#FFFFFF;
}

/*Main*/
main{
 min-height:100vh;
 width:var(--main-total-width);
 margin-left:var(--side-menu-width);
 background-color:var(--color-primary);
 color:#FFFFFF;
}

/*-Header*/
header{
 height:auto;
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: space-between;
 column-gap:6pt;
 row-gap:24pt;
}
.selfDescription {
 height: 100%;
 display: flex;
 flex-direction: column;
 font-size: 20pt;
 align-content: space-around;
 row-gap: 44pt;
 flex-shrink: 1;
 flex-grow: 2;
 flex-basis: 50%;
}
.selfDescription .abilities{
 color:var(--color-terciary);
 font:inherit;
 font-weight: bold;
}
.selfDescription .description{
 color:var(--color-secondary);
 font:inherit;
}
.selfDescription .contactButtons{
 width:100%;  

 display:flex;
 flex-direction: row;
 column-gap:6pt;
}
.photoPresentation {
 width: calc(50% - calc(var(--main-side-padding) * 2));
 position: relative;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: flex-start;
}
.photoPresentation img {
 height:auto;
 width:80%;
}
.photoPresentation .box{
 font-size:16pt;
 position:absolute;
 
 transform:translate(12.5%,-50%);
}


/*Config*/
.defaultMargin {
 margin: var(--default-margin);
}
.defaultPadding {
 padding: var(--main-upDown-padding) var(--main-side-padding);
}
.defaultMargin-Bottom {
 margin: var(--default-margin-bottom);
}

/*Box*/
.clientBox{
 --client-photo-size:3.5vw;

 height:auto;
 width:20vw;
 min-height:13%;
 font-size:1.6vw;
 padding:8%; 
 background-color:var(--color-half-dark);
 border-radius:24px;
 transform:translateY(-50%);
}
.clientBox p{
 margin-bottom:14pt;
}
.clientBox .list{
 display:flex;
 flex-direction:row;
 align-items: center;
 justify-content: space-between;
 position:relative;
 font-size:inherit;
}
.clientBox .list .photos {
 width:44%;
 display:flex;
 flex-wrap:nowrap;
}
.clientBox .list .photos .clientPhoto{
 height:var(--client-photo-size);
 width:var(--client-photo-size);
 border-radius:var(--client-photo-size);
 display:inline;
}
.clientBox .list .photos .clientPhoto.second{
 transform:translateX(-50%);
}
.clientBox .list .photos .clientPhoto.third{
 transform:translateX(-100%);
}
.clientBox .list .photos .clientPhoto.forth{
 transform:translateX(-150%);
}
.clientBox .list .horizontalLine{
 width:12%;
 border-style:solid;
 border-width:1px;
 transform:translateY(-50%);
}
.clientBox .list p{
 width:36%;
 font-size:inherit;
 margin:0;
}

 /*AboutEntry*/
.aboutdetails{
 width:100%;
 display:flex;
 flex-direction: column;
 flex-wrap:nowrap;

 .entry{
  width:66%;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  
  margin-bottom:18pt;

  .label{
   flex:3 3 33%;
  }

  .divider{
   flex:3 3 15%;
  }

  .value{
   flex:3 3 54%;
  }


 }

}

/*Titles*/
 /*No content for titles*/

/*Paragraphs*/
p.introduction{
 margin-bottom:36pt;
}
p.info{
 font-size:14pt;
 color:var(--color-secondary);
}

/*Sections*/
section.myXp{
 flex:1 2 49%;
}

/*TimeLine*/
.timeLine{
 display:flex;
 flex-direction: column;
 flex-wrap:wrap;
}

/*Works*/
.works{ 
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 column-gap:12pt; 
}

/*Skill List*/
.skill-list{
 width:100%;

 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 gap: 24pt;
}

/*Awards*/
.awards{
 --awardBox-gap:18pt;

 width:100%;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 justify-content:space-between; 
 gap:var(--awardBox-gap);

}

/*ServiceList*/
.serviceList{
 width:100%;
 display:flex;
 flex-direction: column;
 gap:14pt;

 .intro{
  width:100%;
 }

 .list{
  width:100%;
  display:flex;
  flex-direction:row;
  gap:16pt;

  .item{
   min-height:512px;
   flex:1 4 25%;
 
   display:flex;
   flex-direction:column;
   row-gap:16pt;
 
   .box{
    width:128px;
    height:128px;
    position:relative;
 
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
 
    background-color: var(--color-terciary);
    border-radius:128px;
    
    .icon{
     width:50%;
     height:auto;
    }
 
   }
 
 
   .title,.description{
    font-size:14pt;   
   }
 
   .title{
    text-transform:uppercase;
   }
 
   .description{
    min-height:192px;
   }
 
   .readMoreBtn{
    width:32px;
    height:32px;
    transform:rotate(135deg);
    transition:all .2s ease;
 
    &:hover{
     transform:rotate(90deg);
    }
 
   }
 
   &:hover{
 
    .title{
     color:var(--color-terciary) !important;
    }
 
   }
 
  }

 }

}

/*RetractInfo*/


/*Portfolio*/
.portfolio{
 width:100%;
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 gap: 16pt;
}

@keyframes graphic-calculating {
 0%{
  background: conic-gradient(rgba(27,27,34) 360deg, rgba(255,255,255,0) 0deg);
 }
 100%{
  background: conic-gradient(rgba(27,27,34) -43deg, rgba(255,255,255,0) 0deg);
 }
}
@keyframes rotateY-back-and-for {
 0%{
  transform:rotateY(90deg);
 }
 100%{
  transform:rotateY(0deg);
 }
}