/*
 PALETA DE CORES
 Escuro: #171b22
 Escuro 2:  #909090
 Fundo do perfil: #7579ff

 ÍNDICE

 Fonts

 Vars

 Global

 sideMenu
 -Profile
 -Navigation
 -DownloadBtn 

 Main
 -Header

 Config
 Box
 Button
 TitleLine
 AboutEntry
 Titles
 Paragraphs
 TimeLine
 Works
 Skill List
 Awards
 ServiceList
 PortfolioBox

 Animações
*/

/*Fonts*/
@font-face {
 font-family: "DM Sans";
 src: url("../fonts/DMSans.ttf");
}

/*Vars*/
:root{
 /* FONTE */
 --font-default:"DM Sans"; 

 /* MEDIDAS */
 --side-menu-width:256px;

 --main-side-padding:24pt;
 --main-side-total-padding:calc(var(--main-side-padding) * 2);
 --main-upDown-padding:24pt;

 --main-total-width:calc(100% - calc(var(--main-side-total-padding) + var(--side-menu-width)));

 --default-margin-top:24pt;
 --default-margin-bottom:24pt; 
 --default-margin-right:12pt;
 --default-margin-left:12pt;
 --default-margin:var(--default-margin-top) var(--default-margin-bottom) var(--default-margin-left) var(--default-margin-right);

 /* PALETA DE CORES*/
 --color-primary:#0f141c;
 --color-half-dark:#171b22;
 --color-secondary:#909090;
 --color-terciary:#7579ff;
 --color-highlight:#FFFFFF;
 
 --color-button-primary:#00CC97;
 --color-button-secondary:#FFDB59;
}

/*Global*/
body{
 width:1444px;
}
div{
 margin:0;
}
div#root,span{
 display:flex;
 font-family:"DM Sans";
}
section{
 margin-bottom:52pt;
}
h1,h2,h3{
 color:#FFFFFF;
}
h1{
 font-size:72pt;
}
h2{
 font-size:48pt;
}
h3{
 font-size:24pt;
 margin-bottom:18pt;
}
h4{
 font-size:14pt;
 text-transform:uppercase;
 color:var(--color-highlight);
}
p{
 font-size:18pt;
 color:var(--color-secondary);
}
b{
 color:var(--color-highlight);
}
a{
 text-decoration:none;
 color:inherit;
}

/*sideMenu*/
.sideMenu {
 height: 100vh;
 width: var(--side-menu-width);

 display:flex;
 flex-direction: column;
 flex-wrap:nowrap;
 justify-content: space-around;
 row-gap:6pt;

 font-size: 14pt;
 color:#FFFFFF;

 background-color:var(--color-half-dark);
 
 position: fixed;

 overflow-y: scroll;

 z-index:1;
}
.sideMenu h2{
 font-size:20pt;
}

/*-Profile*/
.profile {
 font:inherit;
 color:inherit;
}
.profile .photo {
 display:flex;
 justify-content:center;
 margin:0;
 position: relative;
 z-index: 1;
}
.photo .bkg {
 height:66%;
 width:100%;
 border-radius:18pt;
 background-color:var(--color-terciary);
 position:absolute;
 bottom:0%;
 right:0%;
 z-index:-1;
}
.photo img {
 height:auto;
 width:80%;
}
.profile h2,.profile .ability,.profile .contact{
 margin-bottom:8pt;
}
.profile h2{
 text-align:center;
}
.profile .ability{
 font:inherit;
 text-align: center;
 color:var(--color-secondary);
}
.profile .contact {
 display:flex;
 flex-direction: row;
 flex-wrap:nowrap;
 justify-content: center;
 column-gap:18pt;
}
.profile .contact span{
 font-size:14pt;
 color:#FFFFFF;
}

/*-Navigation*/
nav {
 display: flex;
 flex-direction: column;
 align-content: flex-start;
 flex-wrap: nowrap;
 justify-content: flex-start;
 align-items: flex-start;
}
nav .menuItem{
 width:calc(100% - 36pt);

 display:flex;
 flex-direction: row;
 column-gap:8pt;

 color:var(--color-secondary);
 padding:6pt 18pt; 

 border-bottom-width:1px;
 border-bottom-color:var(--color-secondary);
 border-bottom-style: solid;
}
.menuItem:hover,.menuItem:hover span{
 color:var(--color-terciary);
}
.menuItem, .menuItem span {
 transition:color .5s ease;
}
.menuItem.first{ 
 border-top-width:1px;
 border-top-color:var(--color-secondary);
 border-top-style: solid;
}
.menuItem span{
 font-size:16pt;
 color:#FFFFFF;
}

/*-DownloadBtn*/
.downloadBtn{
 --track-height:64px;
 --download-btn-height:var(--track-height);

 width:calc(100% - 24pt);
 height:var(--download-btn-height); 

 font:inherit;
 font-size:14pt;
}
.downloadBtn .internal {
 width:100%;
 height:var(--download-btn-height);

 margin:0 auto;

 position:relative;
 font: inherit;

 background-color: var(--color-primary);
 border-color: var(--color-primary);
 border-radius: 48px;

 transition:.5s;
}
.internal:hover{
 background-color:var(--color-terciary);
}
.internal:hover .iconArea{
 position:absolute;
 left:calc(100% - var(--download-btn-height)); 

 background-color:#FFFFFF;
 color:var(--color-terciary);
}
.internal .label{
 width:max-content;
 
 font:inherit;
 
 margin:0;

 position:absolute;
 right:0%;
 top:calc(var(--download-btn-height) / 2);
 transform:translateY(-50%);

 padding:0 6pt;

 transition:.5s;
}
.internal .label.download{
 opacity:100%;
}
.internal .label.click{
 opacity:0%;
}
.internal:hover .label.download{
 opacity:0%;
 width:max-content;
 right:100%;
 top:calc(var(--download-btn-height) / 2);
 transform:translate(100%,-50%);
}
.internal:hover .label.click{
 opacity:100%;
 width:max-content;
 right:100%;
 top:calc(var(--download-btn-height) / 2);
 transform:translate(100%,-50%);
}
.internal .iconArea{
 height:var(--download-btn-height);
 width:var(--download-btn-height);

 margin:0;

 position:absolute;
 left:0%;

 display:flex;
 flex-direction:column;
 flex-wrap:nowrap;
 justify-content:center;
 align-items:center;

 font-size:24px;

 border-radius:var(--download-btn-height);
 background-color:var(--color-terciary);

 transition:.5s;
}

/*Main*/
main{
 min-height:100vh;
 width:var(--main-total-width);
 margin-left:var(--side-menu-width);
 background-color:var(--color-primary);
 color:#FFFFFF;
}

/*-Header*/
header{
 height:auto;
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: space-between;
 column-gap:6pt;
 row-gap:24pt;
}
.selfDescription {
 height: 100%;
 display: flex;
 flex-direction: column;
 font-size: 20pt;
 align-content: space-around;
 row-gap: 44pt;
 flex-shrink: 1;
 flex-grow: 2;
 flex-basis: 50%;
}
.selfDescription .abilities{
 color:var(--color-terciary);
 font:inherit;
 font-weight: bold;
}
.selfDescription .description{
 color:var(--color-secondary);
 font:inherit;
}
.selfDescription .contactButtons{
 width:100%;  

 display:flex;
 flex-direction: row;
 column-gap:6pt;
}
.photoPresentation {
 width: calc(50% - calc(var(--main-side-padding) * 2));
 position: relative;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 justify-content: flex-start;
}
.photoPresentation img {
 height:auto;
 width:80%;
}
.photoPresentation .box{
 font-size:16pt;
 position:absolute;
 
 transform:translate(12.5%,-50%);
}
.worldApproval{
 max-width:calc(100% - var(--main-side-padding));
}
.worldApproval .logoList{
 max-width:inherit;
 
 display:flex;
 flex-direction:row;
 flex-wrap:nowrap;
 justify-content: center;
 align-items:center;
 column-gap: 12pt;

 font-family:inherit;
 font-size:18pt;
 display:flex;

 animation:marquee-horizontal 10s linear infinite;
}
.worldApproval .logoList .item{
 min-width: 144px;
 min-height: 64px;
 display:flex;
 flex-direction: row;
 flex-wrap:nowrap;
 align-items: center;
 justify-content: center;
 column-gap:6pt;

 padding:20pt;
 color:#FFFFFF;
 font-size:inherit;
 
 border-width:1px;
 border-style:solid;
 border-radius:32px;
 border-color:#FFFFFF; 
}
.worldApproval .logoList .item img{
 height:auto;
 width:50px;
}

/*Config*/
.defaultMargin {
 margin: var(--default-margin);
}
.defaultPadding {
 padding: var(--main-upDown-padding) var(--main-side-padding);
}
.defaultMargin-Bottom {
 margin: var(--default-margin-bottom);
}

/*Box*/
.clientBox{
 --client-photo-size:3.5vw;

 height:auto;
 width:20vw;
 min-height:13%;
 font-size:1.6vw;
 padding:8%; 
 background-color:var(--color-half-dark);
 border-radius:24px;
 transform:translateY(-50%);
}
.clientBox p{
 margin-bottom:14pt;
}
.clientBox .list{
 display:flex;
 flex-direction:row;
 align-items: center;
 justify-content: space-between;
 position:relative;
 font-size:inherit;
}
.clientBox .list .photos {
 width:44%;
 display:flex;
 flex-wrap:nowrap;
}
.clientBox .list .photos .clientPhoto{
 height:var(--client-photo-size);
 width:var(--client-photo-size);
 border-radius:var(--client-photo-size);
 display:inline;
}
.clientBox .list .photos .clientPhoto.second{
 transform:translateX(-50%);
}
.clientBox .list .photos .clientPhoto.third{
 transform:translateX(-100%);
}
.clientBox .list .photos .clientPhoto.forth{
 transform:translateX(-150%);
}
.clientBox .list .horizontalLine{
 width:12%;
 border-style:solid;
 border-width:1px;
 transform:translateY(-50%);
}
.clientBox .list p{
 width:36%;
 font-size:inherit;
 margin:0;
}

/*TitleLine*/
.titleline{ 
 width:100%;
 display: flex;
 flex-direction: row;
 align-items: baseline;
 margin-bottom:12pt;

 h2{
  word-break: keep-all; 
 }

 .line {
  height:1px;
  background-color:#FFFFFF80;
  flex:1 2 50%;
 }

}

 /*AboutEntry*/
.aboutdetails{
 width:100%;
 display:flex;
 flex-direction: column;
 flex-wrap:nowrap;

 .entry{
  width:66%;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  
  margin-bottom:18pt;

  .label{
   flex:3 3 33%;
  }

  .divider{
   flex:3 3 15%;
  }

  .value{
   flex:3 3 54%;
  }


 }

}

/*Titles*/
 /*No content for titles*/

/*Paragraphs*/
p.introduction{
 margin-bottom:36pt;
}
p.info{
 font-size:14pt;
 color:var(--color-secondary);
}

/*Sections*/
section.myXp{
 flex:1 2 49%;
}

/*TimeLine*/
.timeLine{
 display:flex;
 flex-direction: column;
 flex-wrap:wrap;
}

/*Works*/
.works{ 
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 column-gap:12pt; 
}

/*Skill List*/
.skill-list{
 width:100%;

 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 gap: 24pt;
}

/*Awards*/
.awards{
 --awardBox-gap:18pt;

 width:100%;
 display:flex;
 flex-direction:row;
 flex-wrap:wrap;
 justify-content:space-between; 
 gap:var(--awardBox-gap);

}

/*ServiceList*/
.serviceList{
 width:100%;
 display:flex;
 flex-direction: column;
 gap:14pt;

 .intro{
  width:100%;
 }

 .list{
  width:100%;
  display:flex;
  flex-direction:row;
  gap:16pt;

  .item{
   min-height:512px;
   flex:1 4 25%;
 
   display:flex;
   flex-direction:column;
   row-gap:16pt;
 
   .box{
    width:128px;
    height:128px;
    position:relative;
 
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
 
    background-color: var(--color-terciary);
    border-radius:128px;
    
    .icon{
     width:50%;
     height:auto;
    }
 
   }
 
 
   .title,.description{
    font-size:14pt;   
   }
 
   .title{
    text-transform:uppercase;
   }
 
   .description{
    min-height:192px;
   }
 
   .readMoreBtn{
    width:32px;
    height:32px;
    transform:rotate(135deg);
    transition:all .2s ease;
 
    &:hover{
     transform:rotate(90deg);
    }
 
   }
 
   &:hover{
 
    .title{
     color:var(--color-terciary) !important;
    }
 
   }
 
  }

 }

}

/*PortfolioBox*/
.portfolio{
 width:100%;
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 gap: 16pt;
 
 .item{
  width:calc((100% / 3) - 12pt);
  height:auto;
  flex:1 3 calc((100% / 3) - 12pt);
  
  display:flex;
  flex-direction:column;  
  gap:6pt;

  position:relative;

  object-fit: cover;
  border-radius:12pt;
 
  .image{
   width:100%;
   height:auto;
   border-radius:12pt;
   position:relative;

   img{
    width:100%;
    height:auto;
    border-radius:12pt;
   }

   &:hover{

    .company{
     background-color:#7579ff80;
     
     .logo,.name{
      opacity:1;
     }
    }

   }

   .company{
    width:100%;
    height:100%;
 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    row-gap:6pt;
 
    background-color:#7579ff00;
    border-radius:12pt;
    position:absolute;
    left:0;
    bottom:0;

    cursor:pointer;
    transition:background-color .5s ease;

    .logo{
     width:64px;
    }

    .name{
     color:#FFFFFF;
    }

    .logo,.name{
     opacity:0;
     transition:opacity .5s ease;
    }

   }

  }
 
 }

}

/*Animações*/
@keyframes marquee-horizontal {
 0%{transform:translateX(0);}
 100%{transform:translateX(-100%);}
}
@keyframes graphic-calculating {
 0%{
  background: conic-gradient(rgba(27,27,34) 360deg, rgba(255,255,255,0) 0deg);
 }
 100%{
  background: conic-gradient(rgba(27,27,34) -43deg, rgba(255,255,255,0) 0deg);
 }
}
@keyframes rotateY-back-and-for {
 0%{
  transform:rotateY(90deg);
 }
 100%{
  transform:rotateY(0deg);
 }
}